// Estilos de la sección "Videos"
.container-videos {
    max-width: 90%;
    margin: 0 auto;
    padding: 15px;
}

.text-center {
    text-align: center;
}

.video-wrapper {
    margin-bottom: 20px;
    text-align: center;

    .video-embed {
        width: auto;
        height: auto;
    }
}
